@keyframes kenburns1 {

  0% {
  opacity: 0;
  }
  5% {
  opacity: 1;
  }
  50% {
  transform: scale3d(3, 3, 3) translate3d(-130px, -170px, 0px);
  animation-timing-function: ease-in;
  opacity: 1;
  }
  100% {
  transform: scale3d(1, 1, 1) translate3d(20, 20, 0);
  animation-timing-function: ease-out;
  opacity: 1;
  }
}

.Gennamaria1  {
animation: kenburns1 5s 1;
}

@keyframes kenburns2 {

  0% {
  opacity: 0;
  }
  5% {
  opacity: 1;
  }
  50% {
  transform: scale3d(3, 3, 3) translate3d(-90px, -390px, 0px);
  animation-timing-function: ease-in;
  opacity: 1;
  }
  100% {
  transform: scale3d(1, 1, 1) translate3d(20, 20, 0);
  animation-timing-function: ease-out;
  opacity: 1;
  }
}

.Gennamaria2  {
animation: kenburns2 5s 1;
}

@keyframes kenburns3 {

  0% {
  opacity: 0;
  }
  5% {
  opacity: 1;
  }
  50% {
  transform: scale3d(3, 3, 3) translate3d(-200px, 60px, 0px);
  animation-timing-function: ease-in;
  opacity: 1;
  }
  100% {
  transform: scale3d(1, 1, 1) translate3d(20, 20, 0);
  animation-timing-function: ease-out;
  opacity: 1;
  }
}

.Gennamaria3  {
animation: kenburns3 5s 1;
}

@keyframes kenburns01 {

  0% {
  opacity: 0;
  }
  5% {
  opacity: 1;
  }
  50% {
  transform: scale3d(5, 5, 5) translate3d(-60px, -140px, 0px);
  animation-timing-function: ease-in;
  opacity: 1;
  }
  100% {
  transform: scale3d(1, 1, 1) translate3d(20, 20, 0);
  animation-timing-function: ease-out;
  opacity: 1;
  }
}

.Santavittoria1  {
animation: kenburns01 5s 1;
}
